
a{
    text-decoration: none;
    margin-right: 10px;
    color: white;
    font-size: 1.5em;
}
a:hover{
    padding-bottom: 5px;
    transition-duration: 0.5s;
    border-bottom: 1px solid black;
}

body{
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: white;
}

footer{
    background: black;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background: url("../img/fondo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    border-bottom: 2px solid black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;

}

li{
    padding: 10px;
}
main{
    margin: auto;
    text-align: center;
    width: 80%;
}
main h2{
    margin-top: 20px;
    font-size: 2em;
}

nav{
    border: 0;
    padding: 0;
    margin: 0;
}

p{
    font-size: 1.3em;
    text-align: justify;
}



section{
        margin: auto;
        text-align: center;
        width: 80%;
}
section h2{
    margin-top: 50px;
    font-size: 2em;
}

span{
    font-weight: bold;
}

ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    border: 0;
}

.slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 1.5em;
  margin-top: 50px;
  color: white;
  width: 50%;
  background: rgba(1,1,1,.5);
}

.team{
    font-size: 1.5em;
}

